body {

  background-image: url("../img/water.jpg");
}

h1 {
  color: white;
  text-align: center;
  border: 10px solid black;
  font-family: cursive;
  font-size: 100px;
}

p {
  text-align: center;
  color: black;
  font-size: 40px;
  text-decoration: none;
  padding-right: 15px;
}

 #sandbox {
  background-color: #e8d186;
  width: 500px;

}

img {
  width: 750px;
  height: 750px;
  display: block;
  margin: 0px auto;
  border: 5px solid black;
}

nav {
  background: white;
  color: green;
  text-decoration: none;
}
